<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding 
          name="bindingConfig"
          receiveTimeout="0:0:10" 
        />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint
        name="testEndpoint"
        binding="netTcpBinding"
        bindingConfiguration="bindingConfig"
        contract="UnitTests.ITestService"
      />
    </client>
  </system.serviceModel>
</configuration>